<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>



<section id="bid-history">
<% if @user.bids.any? %>

	<table>
		<%= render @active %>
	</table>

	<p>Bid History: You have placed <%= @user.bids.count %> bids.</p>
	<table>
		<%= render @bids %>
	</table>
<% else %>
	<p>You haven't made any bids</p>
<% end %>
</section>