<% provide(:title, 'Event') %>
<h1>The Event</h1>
<p>Calendar of events with dates and basic descriptons. If we get a haircut shop to comeout, recognize them (link) </p>

<h2>Bidding</h2>
<p>Explanation of bidding rules. Minimum bid, $5 increment, $100 brother buyout. (link to bidding page)</p>

<h2>Philantropy</h2>
<p>Where the money is going, maybe why we are supporting them. (link to  org)</p>
