<% provide(:title, 'What is Cut the Chi?') %>

<div class="top">
<div class="container">
<h1>What is Cut the Chi?</h1>

<p><%= link_to "Make a bid", candidates_path %> and help a great cause. But there is more to Cut the Chi than making a bid: Be sure to attend the event September 19 and take some time to learn about who your bid will support. Any questions? <a href="mailto:k_shergill@u.pacific.edu">Contact Us.</a></p>
</div></div>
<div class="container">

<p>Cut the Chi will take place on Friday, September 19, on the UC lawn at 7pm. There will be music and lawn games for your entertainment while winners make their haircuts. Winners should come prepared with payment for the winning bid and grand ideas for a wacky haircut.</p>

<h2>Bidding</h2>
<p>Bidding begins at $15 and must be a multiple of $5. Bid as much as you want, but remember your bid will need to be paid with cash or card during the Friday event. Professional stylists will be on hand to help with the cutting, but a minimum $30 bid will be required to take the clippers in your own hands.</p>

<h2>Philantropy</h2>
<p>Theta Chi is partnering with the <a href="http://www.uso.org/about-us.aspx" >United Service Organizations</a> to aid United States troops. The proceeds from your bids will be used in support of this fantastic organization and the work they do. We encourage you learn more about the USO as you help us help them.</p>
</div>
