
<div id="indexbg" class="homeSlide">
    <div class="bcg"
        data-center="background-position: 50% 0vh;"
        data-top-bottom="background-position: 50% -25vh;"
        data-anchor-target="#indexbg"
    >
        <div class="hsContainer">
            <div class="hsContent"
                data-100-top="opacity: 1"
                data-top="opacity: 0"
                data-anchor-target="#indexbg h1"
            >
            <h1>It's time to Cut the Chi with <br /> <span style="font-family:'Times New Roman',serif;font-size:4em;">ΘΧ</span> </h1>
        
            </div>
            </div>
    </div>
</div>


<div class="top">
<div class="container">
	
<p style="margin-top:20px;">We’re putting our hair on the line to support the USO, an organization that provides for the United States troops and their families. The small sacrifice of our hair is nothing in comparison with the sacrifice that the men and women of the armed forces give up on a daily basis. Help support our chapter and the armed forces by placing a winning a bid to cut one of our brother’s hair in whatever style you desire. But be sure to stake your claim by September 19!</p>
</div></div>
<div class="container">

<ul id="candidates">

	<%= render @candidates %>

</ul>

<p class="center"><%= link_to "See All Candidates", candidates_path, class: "button" %></p>
</div>

<script type="text/javascript">
	skrollr.init({
		smoothScrolling: false,
		//mobileDeceleration: 0.004
	});
</script>