<h1>Pacific Cut The Chi</h1>
<p>Summarize what's going on with the event: how we are raising money, where the money will go, and other things that happen ding the event.</p>


<ul class="candidates">

		<%= render @candidates %>

</ul>