/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

nav,section,span,ul,ol,li{
	padding:0;
	margin:0;
}

footer,header{
	width:100%;
}
#container{
	width:800px;
	min-height:800px;
	margin:auto;
	border-left: solid 1px #000;
	border-right: solid 1px #000;
	padding:0 10px;
}

nav{
	li{
		list-style-type:none;
		float:right;
		padding:5px;
		display:block;
	}
	li:nth-child(1),li:nth-child(2),li:nth-child(3){
		float:left;
	}
}

ol,li,section,span{
	margin:0;
	padding:0;
}

#bid-history{
	ol{
		
		li{
			width:800px;
			list-style-type:none;
			background:#eee;
			span{
				width:40%;
				float:left;
			}
			span:nth-child(2){
				width:20%;
			}
		}
	}
}

.candidates{

	
	li{
		width: 200px;
		float: left;
		list-style-type:none;
	}
	img{
		height: 160px;
		width: 200px;
	}

	.name{
		
		}

	.bid{
		
		}

	.description{
		
	}
	
	form{
		width: 200px;

		label{
			float:left;
		}
		input[type=text]{
			float:left;
			width:30%;
		}
		input[type=submit]{
			float:left;
		}
	}

	a{
	}
}
	
			
			