

<footer>
  <div class="container">
	<p>
	<%= link_to "Home",    	root_path %> 
	&#9642; 
	<%= link_to "Event",  	event_path %> 
	&#9642;
	<%= link_to "Bidding", 	candidates_path %>
	</p>
	<p class="cc">
	Photocredit: Allan Roy & Jonathan Wagenet<br />
   	© Copyright 2016, Theta Chi - Iota Eta Chapter<br />
		University of the Pacific
  </p>
	</div>
</footer>
